<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- This is a test-only application with no activities of its own.
         It contains instrumentation tests that target the Xamarin app. -->
    <application
        android:allowBackup="false"
        android:label="Espresso Tests for SimpleApp" />
    
</manifest>
